<app-header [title]="'About Us'"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="./assets/alegria.png" />
    </ion-card-header>

    <ion-card-content>
      The Pillai Group of Institutions exciting inter collegiate event, Alegria - The Festival of Joy, has easily become one of the largest collegiate festivals of India attracting a footfall of over 40,000 people every year.
    </ion-card-content>
  </ion-card>
  <h2 style="text-align:center">Our socials</h2>
  <div style="text-align:center">
    <a href="https://www.facebook.com/pillaisalegria/" style="text-decoration: none">
      <ion-chip>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-chip>
    </a>
    <a href="https://twitter.com/PillaisAlegria" style="text-decoration: none">
      <ion-chip>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-label>Twitter</ion-label>
      </ion-chip>
    </a>
    <a href="https://www.youtube.com/channel/UCfqP3NEaaXPsgHn8QX3qilw" style="text-decoration: none">
      <ion-chip>
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-label>YouTube</ion-label>
      </ion-chip>
    </a>
    <a href="https://www.instagram.com/pillaisalegria/" style="text-decoration: none">
      <ion-chip>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-chip>
    </a>
    <a href="https://snapchat.com/add/pillaisalegria" style="text-decoration: none">
      <ion-chip>
        <ion-icon name="logo-snapchat"></ion-icon>
        <ion-label>Snapchat</ion-label>
      </ion-chip>
    </a>
  </div>
</ion-content>
