<app-header [title]="'About Us'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <h1>Alegria: The Festival of Joy</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-label>The Pillai Group of Institutions exciting inter collegiate event, Alegria - The Festival of Joy, has easily become one of the largest collegiate festivals of India attracting a footfall of over 40,000 people every year.</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <h2>Find us on:</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="https://www.facebook.com/pillaisalegria/" style="text-decoration: none">
          <ion-chip>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-label>FB</ion-label>
          </ion-chip>
        </a>
      </ion-col>
      <ion-col>
        <a href="https://twitter.com/PillaisAlegria" style="text-decoration: none">
          <ion-chip>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-label>TT</ion-label>
          </ion-chip>
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.instagram.com/pillaisalegria/" style="text-decoration: none">
          <ion-chip>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-label>IG</ion-label>
          </ion-chip>
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.youtube.com/channel/UCfqP3NEaaXPsgHn8QX3qilw" style="text-decoration: none">
          <ion-chip>
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-label>YT</ion-label>
          </ion-chip>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
