<app-header [title]="'Admin Portal'"></app-header>

<ion-content fullscreen>
  <div *ngIf="!isAdmin">
    <br>
    <br>
    <h1 class="typewriter">Hmm.. you don't seem to be an admin...</h1>
  </div>
  <div *ngIf="isAdmin">
    <ion-item>
      <ion-label position="floating">Enter Category Name</ion-label>
      <ion-input type="text" clearInput [(ngModel)]="newCategoryName"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addCategory()">Add Category</ion-button>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select Category" [(ngModel)]="selectedCategory">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block">Edit Category</ion-button>
    <ion-button expand="block" (click)="deleteCategory()">Delete Category</ion-button>
  </div>

</ion-content>
