/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
  --background: none transparent !important;
}

html, body {
  height: 100%;
}
.design-box {
  background-image: linear-gradient(to bottom right, #7852a9, white);
  height: 100%;
}

.design-padding {
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: yellow 1px #000;
  background: #fff;
}

/* On mouse-over, add a deeper shadow */
.design-padding:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
